검사 결과 신청 

비정상군 :  입원 당일 / event 발생 24hr 전 / detect 발생 24hr 전 
    • Event 와 detection lab 이 중복되어도 개별 자료로 뽑아 주시기 바랍니다. 
    • 2개 이상의 중복되는 항목 (예를 들어 하루에 CBC 를 2번 하였을 경우)이 있을 때에는 해당되는 시간에 가까운 lab 결과로 부탁드립니다. 
    • Admission, detection, event 로 분리하여, 채혈 시간을 확인 할 수 있도록 자료 부탁드립니다. 

정상군 : 입원 당일 /  5일 후 또는 퇴원시 lab 
    • 입원 당일 lab 만 있는 경우에는 입원 당일 lab 만 부탁드립니다. 
    • 해당되는 날짜에 lab 이 없는 경우 입원 후 4일 에서 10일 사이의 lab으로 부탁드립니다. 

환자 등록 번호의 대체 번호도 같이 보내드리겠습니다. 가능하시다면 대체번호로 변경해 주셔서 출력 부탁드립니다. 

요청하는 lab 항목 
LAB 결과 요청 사항 
CBC & D/C (LHGX1) 중 


하한치
상한치 
단위
WBC count
LHG01
4
10.8

platelet
LHG09
130
450

Hgb
LHG03
12
18


일반 화학 중 


하한치
상한치 
단위
BUN
LCG11
8
23
Mg/dl
Creatinin
LCG12
0.5
1.3
Mg/dl
Glucose
LCG17



Sodium
LCG13
135
145
mEq/L
Potassium
LCG14
3.5
5
mEq/L
Chloride
LCG15
96
108
mEq/L
Total protein
LCG01
5.8
8.1
g/dl
Total bilirubin
LCG06
0.35
1.3
Mg/dl
Albumin
LCG02
3.1
5.2
g/dl
CRP
LCG56
0
0.3
0.53
Total calcium
LCG73
8.4
10.2
Mg/dl
Lactate
LEC54
0.5
2.2
Mmol/L
Alkaline phosphatase
LCG03
35
129
U/L
AST
LCG04
7
38
U/L
ALT
LCG05
6
42
U/L
